<div class="aboutbox">
	<h3>About</h3>
	<p>This website is a single-page application built with Ruby on Rails by <a href="https://github.com/vajradog">Thupten N. Chakrishar <i>aka vajradog</i></a>. Currently only the admin can login and add/edit or delete a listing. If you want to build a similar application, <a href="https://github.com/vajradog/tibetanlistings">click here for the source code.</a> <br><br>
	The website design credit goes to the wonderful Mary Lou (Manoela Ilic). You can find the source code <a href="https://github.com/codrops/FullWidthTabs">here</a>. <br><br>
	<strong>Road map for the site:</strong>
	
	<ul>
		<li>User listing submission and admin approval system <i>(I may do Facebook authentication and then authorisation).</i></li>
		<li>Reporting mistakes in the listings</li>
		<li>Search Functionality</li>
		<li>Integrate Google Maps</li>
		<li>Expand listing outside NYC</li>
		<li>Perhaps a show page with more information about the listing</li>
	</ul>
	</p>
</div>	